

// color variables
$grey: #414042;
$blue: #0e416a;
$teal: #1AADDD;
$green: #66BD5A;
$lime: #A2CE4D;
$yellow: #FFF200;
$orange: #f05825;


@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



// background-container
.container {
	background: white;
	padding-bottom: 40px;

	@include respond-to( 1220px ) {
		padding-bottom: 20px;
	}
}


// header styles
header {
	position: relative;
	background-color: $blue;
	text-align: center;
	padding: 40px 20px 0;

	img {
		display: block;
	}

	@include respond-to( 768px ) {
		padding: 60px 20px 0;
	}
}


.subhead {
	background: $teal;

	.wrap {		
		padding: 20px;

		@include respond-to( 768px ) {
			padding: 20px 20% 20px 20px;
		}
	}

	h2 {
		color: white;
		font-size: 2.2em;
		line-height: 1.5em;
	}

	h3 {
		color: $blue;
		font-size: 1.6em;
		line-height: 1.5em;
	}

	.finger {
		display: none;

		@include respond-to( 768px ) {
			display: block;
			width: 30%;
			position: absolute;
			bottom: -30px;
			right: 0;
		}
	}
}


// wrap div
.wrap {
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}



// intro styles
.intro {	
	font-size: 1.6em;
	line-height: 1.5em;
}



// colors
.bg-blue { background: $blue; }
.bg-teal { background: $teal; }
.bg-orange { background: $orange; }
.text-blue { color: $blue; }
.text-teal { color: $teal; }
.text-orange { color: $orange; }


.text-large { 
	font-size: 140%; 
	padding: 20px 0;
}



// error styles
.error {
	color: red;
	font-size: 1.4em;
	text-align: center;
}



// tool styles
.tool {	
	padding: 20px;

	.calculator-header {
		margin-top: 20px;
		padding: 20px;
		background: $teal;
		text-align: center;

		@include respond-to( 768px ) {
			padding: 20px 40px;
		}
	}
	
	.calculator {
		padding: 10px 15px 10px;
		color: white;
		@include font-title;
		
		@include respond-to( 768px ) { 
			font-size: 1.2em;

			img {
				margin-top: 20px;
			}
		}

		.quiet {
			font-size: .8em;
			opacity: .6;
			text-align: center;
		}

		.discounts {
			text-align: center;

			label {
				padding: 0 5px;

				@include respond-to( 500px ) {
					padding: 0 20px;
				}
			}
		}
	}

}



.questions {
	padding: 20px;
	text-align: center;
}



// results styles
.results {
	text-align: center;
	
	// large title
	h3 {
		@include font;
		color: $teal;
		padding: 15px 0;
		font-size: 1.5em;

		span {
			display: block;
		}
	}
}



// button styles
input[type=submit], button, .button {
	@include font-title;
	padding: 9px 50px;
	background: $orange;
	color: white;
	border: 0;
	border-radius: 10px;
	border: 3px solid white;
	font-size: 20px;
	line-height: 20px;
	margin: 0 5px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	opacity: .8;
	transition: 300ms opacity ease-in-out;
	
	&:hover {
		opacity: 1;
		color: white;
	}

	@include respond-to( 768px ) {
		padding: 9px 75px;
	}
}



// footer styles
.footer-bar {
	padding: 20px;
	text-align: center;

	&, a {
		color: $grey;
	}

	h2 {
		@include font;
	}

	h2 {
		font-size: 2.4em;
		line-height: 100px;
		text-transform: uppercase;
	}

	h4 {
		font-size: 17px;
		@include respond-to( 800px ) { font-size: 26px; }
	}

	.half {
		padding: 20px 0;
	}
	
	@include respond-to( 768px ) {
		.separator {
			border-right: 1px solid $blue;
		}
	}

	.phone {
		@include respond-to( 768px ) {
			padding: 55px 0 0;
		}
	}

}



.fine-print {
	padding: 0 20px;
	font-size: .8em;
	line-height: 1.3em;
	text-align: left;
	color: lighten( $grey, 30% );

	img {
		float: right;
		margin: 0 0 15px 15px;
	}
}

